[submodule "RL-OtherApps/transport-management-system"]
	path = RL-OtherApps/transport-management-system
	url = git@github.com:RL-OtherApps/transport-management-system.git
	branch = 12.0

[submodule "RL-OtherApps/Odoo"]
	path = RL-OtherApps/Odoo
	url = git@github.com:RL-OtherApps/Odoo.git
	branch = 12.0

[submodule "RL-OtherApps/Mobile-Service-Management"]
	path = RL-OtherApps/Mobile-Service-Management
	url = git@github.com:RL-OtherApps/Mobile-Service-Management.git
	branch = 12.0

[submodule "RL-OtherApps/Libtech"]
	path = RL-OtherApps/Libtech
	url = git@github.com:RL-OtherApps/Libtech.git
	branch = 12.0

[submodule "RL-OtherApps/Jupical_Contributions"]
	path = RL-OtherApps/Jupical_Contributions
	url = git@github.com:RL-OtherApps/Jupical_Contributions.git
	branch = 12.0

[submodule "RL-OtherApps/Jasperreports_odoo"]
	path = RL-OtherApps/Jasperreports_odoo
	url = git@github.com:RL-OtherApps/Jasperreports_odoo.git
	branch = 12.0

[submodule "RL-OtherApps/GMTools"]
	path = RL-OtherApps/GMTools
	url = git@github.com:RL-OtherApps/GMTools.git
	branch = 12.0

[submodule "itss-c/GAP-polymers"]
	path = itss-c/GAP-polymers
	url = git@github.com:itss-c/GAP-polymers.git
	branch = master

[submodule "Viltco/Event-Management"]
	path = Viltco/Event-Management
	url = git@github.com:Viltco/Event-Management.git
	branch = master

[submodule "RL-OtherApps/Development-Tutorials"]
	path = RL-OtherApps/Development-Tutorials
	url = git@github.com:RL-OtherApps/Development-Tutorials.git
	branch = 12.0

[submodule "itss-c/GAP-polymers1"]
	path = itss-c/GAP-polymers1
	url = git@github.com:itss-c/GAP-polymers.git
	branch = master

[submodule "RL-OtherApps/CybroAddons"]
	path = RL-OtherApps/CybroAddons
	url = git@github.com:RL-OtherApps/CybroAddons.git
	branch = 12.0

[submodule "RL-OtherApps/Community_Portal"]
	path = RL-OtherApps/Community_Portal
	url = git@github.com:RL-OtherApps/Community_Portal.git
	branch = 12.0

[submodule "RL-OtherApps/Alshulah-Group"]
	path = RL-OtherApps/Alshulah-Group
	url = git@github.com:RL-OtherApps/Alshulah-Group.git
	branch = 12.0

[submodule "RL-OtherApps/Alshulah-Group1"]
	path = RL-OtherApps/Alshulah-Group1
	url = git@github.com:RL-OtherApps/Alshulah-Group.git
	branch = 12.0

[submodule "OCA/operating-unit"]
	path = OCA/operating-unit
	url = git@github.com:OCA/operating-unit.git
	branch = 12.0
